[Desktop Entry]
Name=Node-RED
Comment=Low-code programming for event-driven applications
Icon=/usr/share/icons/hicolor/scalable/apps/node-red-icon.svg
Exec=node-red-start
Type=Application
Encoding=UTF-8
Terminal=true
Categories=Development;
